<section class="hero is-dark is-medium is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
                                      {{ site.title | escape }}
      </p>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
<li>
            <a>পরিচিতি</a>
          </li>
          <li>
            <a>অনুষ্ঠান</a>
          </li>
          <li>
            <a>আলাপ-আলোচনা</a>
          </li>
          <li>
            <a>সহজপাঠ</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>